body {
  background-color: #ffffff;
  padding: 0px;
  margin: 0px;
  }
@font-face {
  font-family: Title;
  font-weight: 800;
  font-style: normal;
  src: url(fonts/Title.ttf);
  }
@font-face {
  font-family: monserrat;
  font-weight: 100;
  font-style: normal;
  src: url(fonts/monserratnormal.ttf);
  }
.center{
  font-family: monserrat;
  text-align: center;
}
div.center > p{
  font-size: 40px
}
div.center > h1{
  text-align: center;
  font-family: title, Trebuchet MS;
  font-size:100px;
  }
.top {
  font-family: monserrat;
  height: 10%;
  width: 100%;
  background-color: #26a2d9;
  border: 0px;
  padding: 10px;
}
.homepage {
  font-size: 30px;
  font-family: monserrat;
  color: white;
  text-decoration: none;
}
.menu{
  float: left;
}
div.type{
  font-family: monserrat;
  width: 100px;
  height: 100px;
  border-width: 5px;
  border-color: grey;
  border-style: solid;
}
div.reaction{
  font-family: monserrat;
  width: 100px;
  height: 100px;
  border-width: 5px;
  border-color: grey;
  border-style: solid;
}
div.ball{
  font-family: monserrat;
  width: 100px;
  height: 100px;
  border-width: 5px;
  border-color: grey;
  border-style: solid;
}
div.cps{
  font-family: monserrat;
  width: 100px;
  height: 100px;
  border-width: 5px;
  border-color: grey;
  border-style: solid;
  
}